@charset "UTF-8";


table{
	align:center;
	border: 1;
	
}

.product_img{
	width : 100px;
	
}

.product-container{
	/* width:1250px; */
}

.product-td {
    border-left: 0;
    border-right: 0;
    /* 다른 td에 필요한 스타일 추가 */
}
.producter-content-th{
	
	
	border-right:2px solid #aaa;
}
.producter-th{
	border:1;
	border-bottom:1px solid #aaa;
}
.product-th-userNo{
    min-width: 45px;
}
.product-th-productNo{
	min-width: 45px;
}
.product-th-categoryNo{
    min-width: 85px;
}
.product-th-name{
  	min-width: 45px;
}

.product-th-info{
  	min-width: 85px;	
}
.product-th-img{
  	min-width: 85px;	
}
.product-th-img-info{
  	min-width: 85px;	
}
.product-th-price{
  	min-width: 85px;	
}
.product-th-stock{
  	min-width: 85px;	
}
.product-th-createAt{
  	min-width: 85px;	
}
.product-th-updateAt{
	min-width:70px;	
}
.product-th-views{
	min-width: 55px;
}
.product-th-status{
    min-width: 45px;
}
.product-th-sales{
    min-width: 45px;
}


.product-th-createAt, .product-th-updateAt, .product-th-views, .product-th-status{
	padding: 10px;
}
	